//
//imgContainer{
//  max-width: 60%;
//  height: auto;
//  display: block;
//  margin: 0 auto;
//}

img {
  //max-width: 100%;
  //max-height: 100%;
  //height: auto;
  height: 700px;
  width: 600px;
  object-fit: contain;
  display: block;
  border: red 1px solid;
  -webkit-filter: drop-shadow(0 0 10px chartreuse)
}

h1 {
  //font-size: xxx-large;
  color: white;
}

.panel {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.mainPanel {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: chartreuse;
  border: chartreuse 1px solid;
  width: fit-content;
  height: fit-content;
  font-size: x-large;
  padding: 10px 20px 10px 20px;
  margin: 5% auto 5% auto;
}


p {
  color: white;
  margin: 10%;
  font-size: larger;
}



