<!--suppress ALL -->
<div class="container">
  <div class="row d-flex justify-content-center">

    <div class="col-xxl-4 col-md-6">
      <div (click)="openPanels()" class="row panel mainPanel">
<!--        <div class="row">-->
          <h2>{{name}}</h2>
<!--        </div>-->
        <div class="col imgContainer"><img [src]="imagePath" alt="">
        </div>
      </div>
    </div>

    <div *ngIf="isOpen" [@fadeIn]="" class="col-xxl-4 col-md-6 panel animate-fade-in">
      <p>{{description}}</p>
    </div>


    <div *ngIf="isOpen" [@fadeIn]="" class="col-xxl-4 col-md-7 panel animate-fade-in" >
      <div class="row">
        <div class="col">
          <div class="row"><a [href]="videoPath">Video Demo</a></div>
          <div class="row"><a [href]="codePath">GitHub Repository</a></div>
          <div class="row"><a [href]="exePath">Download</a></div>
        </div>
      </div>


    </div>
  </div>
</div>
