.hamburger-button{
  background: none;
  border: none;
  cursor: pointer;
}
.ha-btn{
  height: fit-content;
  width: fit-content;
}
.home-button{
  font-size: x-large;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
ho-btn{
  border: chartreuse 1px solid;

}
.bar {
  width: 30px;
  height: 3px;
  background-color: chartreuse;
  margin: 6px 0;
  transition: 0.4s;
}
a.option{
  color: white;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 40px;
  width: fit-content;
  margin-right: 20px;
  font-size: x-large;
}

.menu{
  top: 50%;
  right: 10%;
  background-color: black;
  border: chartreuse 1px solid;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: right;
}

.nav{
  height: fit-content;
}

