
header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: black;
  border: chartreuse 1px solid;
  z-index: 100;
}

small-header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: black;
  border: chartreuse 1px solid;
  z-index: 100;
}


.container {
  position: relative;
  min-height: 100vh;
}

.intro{
  display: flex;
  justify-content: center;

}

img.gifImage{
  position: absolute;
  z-index: 4;
}
img.staticImage{
  z-index: 2;
}

/* For smaller screens */
@media screen and (max-width: 699px) {
  img {
    width: 100%;
  }
  header{
    display:none;
  }
  small-header{
    display: block;
  }
}

/* For larger screens */
@media screen and (min-width: 700px) {
  img {
    width: 70%;
  }
  header{
    display:block;
  }
  small-header{
    display: none;
  }
}

p {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  font-size: large;
  width: 90%;
  text-align: center;
  color: white;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  color: white;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade.show {
  opacity: 1;
}
